ci:
  autoupdate_schedule: 'monthly'

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-json
  - id: check-yaml
  - id: check-toml
  - id: check-added-large-files
  - id: debug-statements
  - id: mixed-line-ending
- repo: https://github.com/kynan/nbstripout
  rev: 0.8.1
  hooks:
  - id: nbstripout
    args: [--drop-empty-cells, --extra-keys "metadata.kernelspec"]
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
- repo: https://github.com/keewis/blackdoc
  rev: v0.4.1
  hooks:
  - id: blackdoc
    additional_dependencies: [black==22.3.0]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.2
  hooks:
  - id: ruff
    args: [--fix]
- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.22
  hooks:
  - id: mdformat
    exclude: ^(docs/sciserver_notebooks/\w+.md|paper/paper.md)$
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.15.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --preserve-quotes]
  - id: pretty-format-toml
    args: [--autofix]
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.9.1
  hooks:
  - id: nbqa-black
  - id: nbqa-ruff
    args: [--fix, --show-fixes]
  - id: nbqa
    entry: nbqa mdformat
    name: nbqa-mdformat
    alias: nbqa-mdformat
    args: [--nbqa-md, --nbqa-skip-celltags=mdformat-skip]
    additional_dependencies: [mdformat]
- repo: https://github.com/MarcoGorelli/absolufy-imports
  rev: v0.3.1
  hooks:
  - id: absolufy-imports
    name: absolufy-imports
    files: ^seaduck/
