# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Seaduck Tutorial
author: Wenrui Jiang
logo: logo.png

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  timeout: 600
  execute_notebooks: 'auto'
  stderr_output: "remove"
  raise_on_error: true
  exclude_patterns:
  - '*.md'

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add sphinx autodoc to generate api reference from code files
sphinx:
  extra_extensions:
  - 'sphinx.ext.autodoc'
  - 'sphinx.ext.napoleon'
  config:
    warningiserror: true
    html_theme: sphinx_book_theme
    autodoc_member_order: groupwise
    html_theme_options:
      navigation_with_keys: false
    # html_theme_options: {
    #     "relbarbgcolor": 'Orange',
    #     "codebgcolor": 'Coral'
    # }

# Information about where the book exists on the web
repository:
  url: https://github.com/MaceKuailv/seaduck  # Online location of your book
  path_to_book: docs  # Optional path to your book, relative to the repository root
  branch: master  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true
