name: on-push

on:
  push:
    branches:
    - main
    tags:
    - '*'
  pull_request:
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -l {0}

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: 3.x
    - uses: pre-commit/action@v3.0.0

  combine-environments:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install conda-merge
      run: |
        $CONDA/bin/python -m pip install conda-merge
    - name: Combine environments
      run: |
        $CONDA/bin/conda-merge ci/environment-ci.yml environment.yml > ci/combined-environment-ci.yml
    - name: Archive combined environments
      uses: actions/upload-artifact@v3
      with:
        name: combined-environments
        path: ci/combined-environment-*.yml

  unit-tests:
    name: unit-tests
    needs: combine-environments
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
        optional-dependencies: ["", "numba"]

    steps:
    - uses: actions/checkout@v3
    - name: Download combined environments
      uses: actions/download-artifact@v3
      with:
        name: combined-environments
        path: ci
    - name: Install Conda environment with Micromamba
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-file: ci/combined-environment-ci.yml
        environment-name: DEVELOP
        cache-environment: true
        extra-specs: >-
          python=${{ matrix.python-version }}
          ${{ matrix.optional-dependencies }}
    - name: Install package
      run: |
        python -m pip install --no-deps -e .
    - name: Run tests
      run: |
        make unit-tests COV_REPORT=xml

  type-check:
    needs: [combine-environments, unit-tests]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Download combined environments
      uses: actions/download-artifact@v3
      with:
        name: combined-environments
        path: ci
    - name: Install Conda environment with Micromamba
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-file: ci/combined-environment-ci.yml
        environment-name: DEVELOP
        cache-environment: true
        extra-specs: >-
          python=3.11
    - name: Install package
      run: |
        python -m pip install --no-deps -e .
    - name: Run code quality checks
      run: |
        make type-check

  docs-build:
    needs: [combine-environments, unit-tests]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Download combined environments
      uses: actions/download-artifact@v3
      with:
        name: combined-environments
        path: ci
    - name: Install Conda environment with Micromamba
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-file: ci/combined-environment-ci.yml
        environment-name: DEVELOP
        cache-environment: true
        extra-specs: >-
          python=3.11
    - name: Install package
      run: |
        python -m pip install --no-deps -e .
    - name: Build documentation
      run: |
        make docs-build
    - name: Deploy documentation
      if: github.ref == 'refs/heads/main'
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build/html
